
# Virtual Environments
/venv

# Env
.env

#Cache Files
__pycache__
/app/cache/*
/cache
/config.toml

# Video Cache Files
/groove_it/video_processing/test_videos/*
/groove_it/video_processing/video_cache/*
/groove_it/video_processing/cascades/*