.main_container {
  height: 110vh;
  width: 100%;
  background-color: rgba(214, 213, 213, 0.74);
  overflow-x: hidden;
}

.loaderContainer {
  padding: 15%;
  padding-left: 45%;
  overflow-y: hidden;
}

.loadingText {
  margin-left: -8.5%;
  color: white;
  font-size: 1.2em;
}
